<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ciqual{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'css/bootstrap.css' 'css/select2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    'js/jquery.min.js'
    'js/bootstrap.js'
    'js/select2.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
