{% extends '::base.html.twig' %}
{% block body %}
    <section>
        <h1>
            Aliment
        </h1>
    </section>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group" style="margin-bottom: 30px">
                    <label class="col-sm-3 control-label" for="alimentSelect">Rechercher un aliment:</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="alimentSelect">
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="alimentInfos">
                Informations sur l'aliment choisis.
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $alimentSelect = $("#alimentSelect");
        $alimentSelect.select2({
            language: 'fr',
            width: '100%',
            ajax: {
                url: function (params) {
                    var path = '{{ path('mathias_ciqual_aliment_get_like' , {'like' : '_like_'} ) }}';
                    return path.replace(/_like_/g, params.term);
                },
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            minimumInputLength: 3
        });
        $alimentSelect.on("select2:select", function (e) {
            var path = '{{ path('mathias_ciqual_aliment_get_infos' , {'id' :  '_id_'}) }}';
            path = path.replace(/_id_/g, e.params.data.id);
            $.ajax(path).done(function (data) {
                $('#alimentInfos').html(data);
            })
        });
    </script>
{% endblock %}
